

.showcase-header, .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-header-title{
    font-size: 1.5rem;
    font-family: 'Atmospheric';
    text-align: center;
}

.showcase-header-title h1{
    margin: 0;
}

.showcase-button button{
    position: relative;
    background-color: var(--color-background);
    color: var(--color-text);
    width: 10rem;
    height: 3rem;
    font-size: var(--font-size-l);
    border-radius: 10px;
    border: none;
    margin: 3rem auto;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
  
.showcase-button button::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    background-image: var(--gradient-horizontal);
    border-radius: inherit;
}

.showcase-container .decorator{
    top: 50%;
}

.showcase-title{
    text-align: center;
}

.showcase-title .title h1, .showcase-title .sub-title h1{
    font-family: 'Atmospheric';
    margin: 1rem;
}

.showcase-title .title h1{
    font-size: 4.5rem;
    margin: 0;
}

.showcase-title .sub-title{
    margin-top: 5rem;
}

.showcase-title .sub-title h1{
    font-size: 1.5rem;
}

.showcase-title .description p{
    margin:0;
    font-size: 1.1rem;
}

.showcase-content{
    width: 60%;
    margin: 5rem 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(180deg, #FFB3FE 0%, #491E8E 100%);
    box-shadow: 0px 1.8px 1.8px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 25px;
    padding: 1.5rem;
    margin: 1.5rem 0;
}

.card .img-wrapper{
    width: 15rem;
    height: 20rem;
    margin-right: 2rem;
}

.card .img-wrapper img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.card .description{
    width: 450px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.description .top{
   overflow: hidden;
   height: 55%;
}
  
.description .top h2, .description .top p{
    margin: 0;
}

.description .top h2, .description .bottom h3{
    font-family: 'Atmospheric';
    margin-bottom: 0.5rem;
}

.description .bottom{
    display: flex;
    flex-direction: row;
}

.description .bottom .left{
    margin-right: 1.5rem;
    font-weight: 600;
    width: 50%;
}

.description .bottom .right{
    margin-left: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description .bottom .right a{
    text-align: center;
}

.card .description .bottom .right a{
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    transform: translateX(12px);
}

.card .description .bottom .right a img{
    width:100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width:1100px) {
    .showcase-content{
        width: 80%;
        align-items: center;
    }

    .card .top h2{
        font-size: 1.3rem;
    }

    .card .top{
        height: 60%;
    }

    .card .bottom h3{
        font-size: 1rem;
    }
}

@media (max-width:800px) {
    .showcase-header-title{
        font-size: 1.3rem;
    }

    .showcase-title .title h1{
        font-size: 3.5rem;
    }
    
    .showcase-title .sub-title h1{
        font-size: 1.3rem;
    }
}

@media(max-width:770px){
    .card .top h2{
        font-size: 1.4rem;
    }

    .card .top h2{
        font-size: 1.2rem;
    }

    .card .top p{
        font-size: 1rem;
    }

    .card .bottom h3{
        font-size: 0.9rem;
    }
}

@media (max-width:750px){
    .card{
        flex-direction: column;
        align-items: center;
    }

    .card .top{
        margin-top: 2rem;
    }
}

@media(max-width:550px){
    .showcase-header-title{
        font-size: 0.8rem;
    }

    .showcase-title .title h1{
        font-size: 2.3rem;
    }
    
    .showcase-title .sub-title h1{
        font-size: 1rem;
    }

    .showcase-title .description p{
        font-size: 1rem;
    }
    
    .card{
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .card:last-child{
        margin-bottom: 0;
    }

    .card .img-wrapper{
        margin-left: 2rem;
    }

    .card .top, .card .bottom{
        text-align: center;
        align-items: center;
        width:80%;
        margin-left: 1.5rem;
    }

    .card .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1.5rem;
    }

    .card .bottom .left{
        margin-top:1.6rem;
    }

    .card .bottom .right h3{
        margin-right: 0rem;
    }

    .description .bottom .left {
        margin-right: 0rem;
        font-weight: 600;
        width: 50%;
    }

    .description .bottom .right {
        margin-left: 0rem;
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(1) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

    .card .description .bottom .right a {
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;
        transform: translateX(0px);
        margin-left: 0;
        margin-right: 0;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(2) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(3) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(4) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

}

.showcase-button button:hover  {
  transform: scale(1.05);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}