.showcase-header, .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-header-title{
    font-size: 1.5rem;
    font-family: 'Atmospheric';
    text-align: center;
}

.showcase-header-title h1{
    margin: 0;
}

.showcase-button button{
    position: relative;
    background-color: var(--color-background);
    color: var(--color-text);
    width: 10rem;
    height: 3rem;
    font-size: var(--font-size-l);
    border-radius: 10px;
    border: none;
    margin: 3rem auto;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
  
.showcase-button button::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    background-image: var(--gradient-horizontal);
    border-radius: inherit;
}

.showcase-container .decorator{
    top: 50%;
}

.showcase-title{
    text-align: center;
}

.showcase-title .title h1, .showcase-title .sub-title h1{
    font-family: 'Atmospheric';
    margin: 1rem;
}

.showcase-title .title h1{
    font-size: 4.5rem;
    margin: 0;
}

.showcase-title .sub-title{
    margin-top: 5rem;
}

.showcase-title .sub-title h1{
    font-size: 1.5rem;
}

.showcase-title .description p{
    margin:0;
    font-size: 1.1rem;
}

.showcase-content{
    width: 60%;
    margin: 5rem 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.showcase-content .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Atmospheric';
    gap: 1rem;
}

.showcase-content .search-container input{
    height: 30px;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.showcase-button:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase-button:last-child a{
    font-size: 1rem;
}

.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 1rem;
    gap: 1.5rem;
}

.pagination-button{
    width: 4rem;
    height: 4rem;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
    position: relative;
    border: transparent;
    transition: all 0.3s ease-in-out;
}

.pagination-container button::before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    background-image: var(--gradient-horizontal);
    border-radius: inherit;
}

.card{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(180deg, #FFB3FE 0%, #491E8E 100%);
    box-shadow: 0px 1.8px 1.8px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 25px;
    padding: 1.5rem;
    margin: 1.5rem 0;
}

.card .img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;
}

.card .img-wrapper img{
    border-radius: 10px;
}

.card .description{
    width: 1000px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.description .top{
   overflow: hidden;
   height: auto;
}
  
.description .top h2, .description .top p{
    margin: 0;
}

.description .top h2, .description .bottom h3{
    font-family: 'Atmospheric';
    margin-bottom: 0.5rem;
}

.description .bottom{
    display: flex;
    flex-direction: row;
}

.description .bottom .left{
    margin-right: 1.5rem;
    font-weight: 600;
    width: 50%;
}

.description .bottom .right{
    margin-left: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description .bottom .right a{
    text-align: center;
}

.card .description .bottom .right a{
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    transform: translateX(12px);
}

.card .description .bottom .right a img{
    width:100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width:1100px) {
    .showcase-content{
        width: 80%;
        align-items: center;
    }

    .card .top h2{
        font-size: 1.3rem;
    }

    .card .top{
        height: auto;
    }

    .card .bottom h3{
        font-size: 1rem;
    }
}

@media (max-width:800px) {
    .showcase-header-title{
        font-size: 1.3rem;
    }

    .showcase-title .title h1{
        font-size: 3.5rem;
    }
    
    .showcase-title .sub-title h1{
        font-size: 1.3rem;
    }
}

@media(max-width:770px){
    .card .top h2{
        font-size: 1.4rem;
    }

    .card .top h2{
        font-size: 1.2rem;
    }

    .card .top p {
        font-size: 10px;
        margin: 0 0px;
        text-align: justify;
    }

    .card .bottom h3{
        font-size: 0.9rem;
    }

    .card .description {
        width: 80%; /* Contoh penggunaan persentase */
        margin-left: 2rem;
    }
    
}

@media (max-width:750px){
    .card{
        flex-direction: column;
        align-items: center;
    }

    .card .top{
        margin-top: 2rem;
    }

    .card .description{
        width: 400px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}

@media(max-width:550px){
    .card .description {
        width: 90%; /* Contoh penggunaan persentase yang lebih besar */
        margin-left: 1rem; /* Penggunaan margin yang responsif */
    }

    .showcase-header-title{
        font-size: 0.8rem;
    }

    .showcase-title .title h1{
        font-size: 2.3rem;
    }
    
    .showcase-title .sub-title h1{
        font-size: 1rem;
    }

    .showcase-title .description p{
        font-size: 1rem;
    }

    .pagination-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        margin-top: 2rem;
        gap: 0.8rem;
    }
    
    .pagination-button{
        width: 2.4rem;
        height: 2.4rem;
        font-size: 0.8rem;
        font-weight: bolder;
        padding: 0.5rem;
        text-align: center;
        border-radius: 10px;
        position: relative;
        border: transparent;
        transition: all 0.3s ease-in-out;
    }
    
    .card{
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .card:last-child{
        margin-bottom: 0;
    }

    .card .img-wrapper{
        margin-top: 30px;
    }

    .card .top, .card .bottom{
        text-align: center;
        align-items: center;
        width:80%;
        margin-left: 1.5rem;
    }

    .card .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1.5rem;
    }

    .card .bottom .left{
        margin-top:1.6rem;
    }

    .card .bottom .right h3{
        margin-right: 0rem;
    }

    .description .bottom .left {
        margin-right: 0rem;
        font-weight: 600;
        width: 50%;
    }

    .description .bottom .right {
        margin-left: 0rem;
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(1) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

    .card .description .bottom .right a {
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;
        transform: translateX(0px);
        margin-left: 0;
        margin-right: 0;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(2) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(3) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(4) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }

    body > div.showcase-container > div.showcase-content > div:nth-child(5) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(6) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(7) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(8) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(9) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(10) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(11) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(12) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(13) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(14) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(15) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(16) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(17) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(18) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(19) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(20) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(21) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(22) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(23) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(24) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(25) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(26) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(27) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(28) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(29) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(30) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(31) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(32) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(33) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(34) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(35) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(36) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(37) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(38) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(39) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(40) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(41) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(42) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(43) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(44) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(45) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(46) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(47) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(48) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(49) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    
    body > div.showcase-container > div.showcase-content > div:nth-child(50) > div.description > div.bottom > div.left > ul {
        padding: 0;
    }
    

}

.showcase-button button:hover  {
  transform: scale(1.05);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}